.box{
  width: 40px;
  height: 40px;
  background: skyblue;
  cursor: pointer;
  opacity: 1;
  /* transition-property: transform, opacity;
  transition-duration: .4s, .4s; */
  /* transition: transforma .4s, opacity .4s; */
  /* transition: all .4s; */
  transition: .4s;
}

.box:hover{
  transform: rotate(45deg);
  opacity: .3;
}